page-posts {

}
.post-author{
    display: flex;
}
.post-author-image{
    width: 55px;
}
.post-author-name{
    font-size: 18px;
}
.post-author-details p{
    margin: 0;
}
.post-author-details{
    margin-left: 17px;
    margin-top:10px;
}
.post-time{
    margin: 20px 0px 0px 70px;
}
