// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-profile-image img{
    width: 100px;
}
.menu-profile,.menu-profile-status{
    padding-top:20px;
    display: flex;
}
.menu-profile-details{
    padding: 28px 0px 0px 20px;
}
.menu-profile-details p{
    font-size:18px;
    margin: 0;
    padding: 0;
}
.menu-profile-details h3{
    margin: 0;
}
.menu-profile-status div{
    margin-left:55px; 
}
.menu-list{
    padding-top: 50px;
}
.menu-list .item-md.item-block .item-inner{
    border: none;
}
.chat-icon{
    font-size: 25px;
    margin-right: 30px;
}
.notifications-icon{
    font-size: 25px;
}
.menu-list-name{
    margin-left:20px;
}
.menu-list ion-icon{
    font-size: 20px;
}